<div class="lcg-navbar" id="lcg-navbar-scroll">
  <ul class="lcg-navbar-items">
    <li class="lcg-nav-menu-icon"><a href="#"><i class="material-icons md-18">menu</i></a></li>
    <li class="lcg-nav-logo"><a href="#">LOGO</a></li>
    <li class="lcg-nav-contact"><a href="#lcg-contact-us-section" {{action "contactScroll"}}><i class="material-icons md-18">contact_support</i><span>Contato</span></a></li>
  </ul>
</div>

<section>
  <div class="lcg-parallax lcg-actuation-image">
    <div class="lcg-actuation-area">
      <div class="lcg-actuation-content lcg-container">
        <h1 class="lcg-actuation-title">Análises, avaliações, perícias, e assistência técnica judicial em Engenharia Mecânica</h1>

        <div class="lcg-actuation-list">
          <ul>
            <li class="lcg-actuation-list-item"><i class="material-icons lcg-list-cog">settings</i>Análise de veículos seminovos</li>
            <li class="lcg-actuation-list-item"><i class="material-icons lcg-list-cog">settings</i>Avaliações e perícias em máquinas e equipamentos mecânicos</li>
            <li class="lcg-actuation-list-item"><i class="material-icons lcg-list-cog">settings</i>Assistêcia técnica pericial</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<section  class="lcg-container">
  <div class="lcg-about-us">
    <h1>Quem Somos?</h1>

    <div class="lcg-about-us-container">
      <div class="lcg-about-us-card">
        <div class="lcg-about-us-photo"><img src="/assets/images/rpm-photo.jpg" alt="Rafael Pontes Marques Foto"></div>
      </div>
      <div class="lcg-about-us-info">
        <div class="lcg-about-us-title">
          <h3>Bruno Ribeiro Passos</h3>
        </div>
        <div class="lcg-about-us-description">
          <p>
            Engenheiro Mecânico e Automobilístico formado pela FEI. Iniciação científica na área de Engenharia de Materiais.
            Já possuiu empresa de mecânica voltada para manutenção e performance automobilística. Experiência em dinamômetros de chassis e de bancada.
            Trabalhou na Porsche GT3 Cup Challenge Brazil na área de telemetria.
          </p>
        </div>
      </div>
    </div>

    <div class="lcg-about-us-container about-us-reverse">
      <div class="lcg-about-us-info">
        <div class="lcg-about-us-title">
          <h3>Jayme Oliveira da Costa</h3>
        </div>
        <div class="lcg-about-us-description">
          <p>
            Engenheiro Mecânico e Automobilístico formado pela FEI. Iniciação científica na área de Engenharia de Materiais.
            Já possuiu empresa de mecânica voltada para manutenção e performance automobilística. Experiência em dinamômetros de chassis e de bancada.
            Trabalhou na Porsche GT3 Cup Challenge Brazil na área de telemetria.
          </p>
        </div>
      </div>
      <div class="lcg-about-us-card">
        <div class="lcg-about-us-photo"><img src="/assets/images/rpm-photo.jpg" alt="Rafael Pontes Marques Foto"></div>
      </div>
    </div>

    <div class="lcg-about-us-container">
      <div class="lcg-about-us-card">
        <div class="lcg-about-us-photo"><img src="/assets/images/rpm-photo.jpg" alt="Rafael Pontes Marques Foto"></div>
      </div>
      <div class="lcg-about-us-info">
        <div class="lcg-about-us-title">
          <h3>Rafael Pontes Marques</h3>
        </div>
        <div class="lcg-about-us-description">
          <p>
            Engenheiro Mecânico e Automobilístico formado pela FEI. Iniciação científica na área de Engenharia de Materiais.
            Já possuiu empresa de mecânica voltada para manutenção e performance automobilística. Experiência em dinamômetros de chassis e de bancada.
            Trabalhou na Porsche GT3 Cup Challenge Brazil na área de telemetria.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lcg-parallax lcg-about-the-job-image">
    <div class="lcg-background-opacity"></div>
    <div class="lcg-automotive-expert-analysis">
      <h1 class="lcg-automotive-expert-title">Análise de veículos seminovos</h1>
      <h3 class="lcg-automotive-expert-text">Atuamos realizando assistência pericial em processos judiciais.</h3>
    </div>
  </div>
</section>

<section  class="lcg-container">
  <div class="">
    <h1>Análise de veículos</h1>

    <div class="lcg-car-analysis-container">
    </div>
  </div>
</section>

<section>
  <div class="lcg-parallax lcg-equipment-expert-image">
    <div class="lcg-background-opacity"></div>
    <div class="lcg-automotive-expert-analysis">
      <h1 class="lcg-automotive-expert-title">Perícias em equipamentos mecânicos</h1>
      <h3 class="lcg-automotive-expert-text">Atuamos realizando assistência pericial em processos judiciais.</h3>
    </div>
  </div>
</section>

<section>
  <div class="lcg-parallax lcg-equipment-expert-image">
    <div class="lcg-background-opacity"></div>
    <div class="lcg-automotive-expert-analysis">
      <h1 class="lcg-automotive-expert-title">Assistência técnica pericial</h1>
      <h3 class="lcg-automotive-expert-text">Atuamos realizando assistência pericial em processos judiciais.</h3>
    </div>
  </div>
</section>

<section class="lcg-container" id='lcg-contact-us-section'>
  <div class="lcg-contact-us">
    <div class="lcg-contact-us-title">
      <h2>Entre em contato conosco</h2>
    </div>
    <div class="lcg-contact-us-content">
      <div class="lcg-contact-description">
        <p>Entre em contato conosco para falar os paranaue</p>
      </div>
      <div class="lcg-contact-form">
        <form class="lcg-contact-us-form">
          <div class="lcg-form-field">
            <label for="first_name">Nome:</label>
            <input type="text" id="first_name" name="firstname">
          </div>
          <div class="lcg-form-field">
            <label for="phone_number">Telefone:</label>
            <input type="text" id="phone_number" name="phonenumber">
          </div>
          <div class="lcg-form-field">
            <label for="form_description">Descrição (opcional):</label>
            <textarea class="lcg-form-description" type="text" id="form_description" name="formdescription" />
          </div>
          <div class="lcg-form-field lcg-submit-btn">
            <input type="submit" value="Enviar">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("lcg-navbar-scroll").style.transform = "translateY(0)";
    } else {
      document.getElementById("lcg-navbar-scroll").style.transform = "translateY(-50px)";
    }
    prevScrollpos = currentScrollPos;
  }
</script>
