<div class="lcg-navbar" id="lcg-navbar-scroll">
  <ul class="lcg-navbar-items">
    <li class="lcg-nav-menu-icon"><a href="#"><i class="material-icons md-18">menu</i></a></li>
    <li class="lcg-nav-logo"><a href="#">LOGO</a></li>
    <li class="lcg-nav-contact"><a href="#lcg-contact-us-section" {{action "contactScroll"}}><span>Contato</span><i class="material-icons md-18">contact_support</i></a></li>
  </ul>
</div>

<section class="lcg-job-description">
  <div class="lcg-parallax lcg-job-description-image">
    <div class="lcg-topics-area">
      <div class="lcg-topics-content lcg-container">
        <h1 class="lcg-topics-title">Análises, avaliações, perícias, e assistência técnica judicial em Engenharia Mecânica</h1>

        <div class="lcg-topics-list">
          <ul>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Análise de veículos seminovos</li>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Avaliações e perícias em máquinas e equipamentos mecânicos</li>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Assistêcia técnica pericial</li>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Procedimentos em adequação à norma da ABNT NBR 14653</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="lcg-about-us-section">
  <div class="lcg-container">
    <div class="lcg-about-us">
      <h1>Quem Somos?</h1>

      <div class="lcg-about-us-container">
        <div class="lcg-about-us-card">
          <div class="lcg-about-us-photo"><img src="/assets/images/rpm-photo.jpg" alt="Rafael Pontes Marques Foto"></div>
        </div>
        <div class="lcg-about-us-info">
          <div class="lcg-about-us-title">
            <h3>Bruno Ribeiro Passos</h3>
          </div>
          <div class="lcg-about-us-description">
            <p>
              Engenheiro Mecânico e Automobilístico formado pela FEI. Iniciação científica na área de Engenharia de Materiais.
              Já possuiu empresa de mecânica voltada para manutenção e performance automobilística. Experiência em dinamômetros de chassis e de bancada.
              Trabalhou na Porsche GT3 Cup Challenge Brazil na área de telemetria.
            </p>
          </div>
        </div>
      </div>

      <div class="lcg-about-us-container about-us-reverse">
        <div class="lcg-about-us-info">
          <div class="lcg-about-us-title">
            <h3>Jayme Oliveira da Costa</h3>
          </div>
          <div class="lcg-about-us-description">
            <p>
              Engenheiro Mecânico e Automobilístico formado pela FEI. Iniciação científica na área de Engenharia de Materiais.
              Já possuiu empresa de mecânica voltada para manutenção e performance automobilística. Experiência em dinamômetros de chassis e de bancada.
              Trabalhou na Porsche GT3 Cup Challenge Brazil na área de telemetria.
            </p>
          </div>
        </div>
        <div class="lcg-about-us-card">
          <div class="lcg-about-us-photo"><img src="/assets/images/rpm-photo.jpg" alt="Rafael Pontes Marques Foto"></div>
        </div>
      </div>

      <div class="lcg-about-us-container">
        <div class="lcg-about-us-card">
          <div class="lcg-about-us-photo"><img src="/assets/images/rpm-photo.jpg" alt="Rafael Pontes Marques Foto"></div>
        </div>
        <div class="lcg-about-us-info">
          <div class="lcg-about-us-title">
            <h3>Rafael Pontes Marques</h3>
          </div>
          <div class="lcg-about-us-description">
            <p>
              Engenheiro Mecânico e Automobilístico formado pela FEI. Iniciação científica na área de Engenharia de Materiais.
              Já possuiu empresa de mecânica voltada para manutenção e performance automobilística. Experiência em dinamômetros de chassis e de bancada.
              Trabalhou na Porsche GT3 Cup Challenge Brazil na área de telemetria.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="lcg-vehicle-analysis">
  <div class="lcg-parallax lcg-vehicle-analysis-image">
    <div class="lcg-topics-area">
      <div class="lcg-topics-content lcg-container">
        <h1 class="lcg-topics-title">Análise de veículos seminovos</h1>

        <div class="lcg-topics-list">
          <ul>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Segurança antes de investir em um bem seminovo</li>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Consulta em base nacional de dados para determinar se o veículo possui sinistrom histórico de furto ou roubo, fraude NP Finan ou algo que possa aumentar o risco da operação para você cliente</li>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Inspeção do veículo por engenheiros capacitados e treinados em determinar tanto o valor do bem, quanto sua qualidade como produto</li>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Conhecimento dos veículos no mercado com acessoria sobre vícios conhecidos</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="lcg-vehicle-analysis-steps">
  <div class="lcg-container lcg-vehicle-analysis-container">
    <div class="lcg-vehicle-analysis-step">
      <h2>noix</h2>
    </div>
    <div class="lcg-vehicle-analysis-step">
      <h2>noix</h2>
    </div>
    <div class="lcg-vehicle-analysis-step">
      <h2>noix</h2>
    </div>
  </div>
</section>

<section class="lcg-evaluation-expertise">
  <div class="lcg-parallax lcg-evaluation-expertise">
    <div class="lcg-topics-area">
      <div class="lcg-topics-content lcg-container">
        <h1 class="lcg-topics-title">Avaliações e perícias em máquinas e equipamentos mecânicos</h1>

        <div class="lcg-topics-list">
          <ul>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Determinação do justo valor de mercado através de laudos que visam atender os objetivos do cliente, podendo ser eles: alienação fiduciária, fusão, cisão e incorporação, garantia real e penhora, seguro, reavaliação de ativos imobilizados</li>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Perícias em máquinas e equipamentos mecânicos para auxiliar em soluções de conflito judicial, gerando material de fácil entendimento e com qualidade técnica para que a autoridade judicial consiga ter um embasamento melhor em sua decisão</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="lcg-expert-assistance">
  <div class="lcg-parallax lcg-expert-assistance-image">
    <div class="lcg-topics-area">
      <div class="lcg-topics-content lcg-container">
        <h1 class="lcg-topics-title">Assistência técnica pericial</h1>

        <div class="lcg-topics-list">
          <ul>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Auxílio técnico às partes do processo</li>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Questionamentos técnicos à perito judicial visando garantir uma perícia que realmente seja válida para auxiliar a autoridade judicial</li>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Acompanhamento de perícia técnica</li>
            <li class="lcg-topics-list-item"><i class="material-icons lcg-list-cog">settings</i>Redução no custo processual</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="lcg-container" id='lcg-contact-us-section'>
  <div class="lcg-contact-us">
    <div class="lcg-contact-us-title">
      <h2>Entre em contato conosco</h2>
    </div>
    <div class="lcg-contact-us-content">
      <div class="lcg-contact-description">
        <p>Entre em contato conosco para falar os paranaue</p>
      </div>
      <div class="lcg-contact-form">
        <form class="lcg-contact-us-form">
          <div class="lcg-form-field">
            <label for="first_name">Nome:</label>
            <input type="text" id="first_name" name="firstname">
          </div>
          <div class="lcg-form-field">
            <label for="phone_number">Telefone:</label>
            <input type="text" id="phone_number" name="phonenumber">
          </div>
          <div class="lcg-form-field">
            <label for="form_description">Descrição (opcional):</label>
            <textarea class="lcg-form-description" type="text" id="form_description" name="formdescription" />
          </div>
          <div class="lcg-form-field lcg-submit-btn">
            <input type="submit" value="Enviar">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("lcg-navbar-scroll").style.transform = "translateY(0)";
    } else {
      document.getElementById("lcg-navbar-scroll").style.transform = "translateY(-50px)";
    }
    prevScrollpos = currentScrollPos;
  }
</script>
