<div class="lcg-navbar" id="lcg-navbar-scroll">
  <ul class="lcg-navbar-items">
    <li class="lcg-nav-menu-icon"><a href="#"><i class="material-icons md-18">menu</i></a></li>
    <li class="lcg-nav-logo"><a href="#">LOGO</a></li>
    <li class="lcg-nav-contact"><a href="#teste">Contato</a></li>
  </ul>
</div>

<div class="lcg-menu">
  <ul>
    <li>Blah</li>
    <li>bleh</li>
    <li>bli</li>
    <li>blo</li>
  </ul>
</div>

<section>
  <div class="lcg-parallax lcg-actuation-image">
    <div class="lcg-actuation-area">
      <div class="lcg-actuation-content lcg-container">
        <h1 class="lcg-actuation-title">Avaliações, perícias, e assistência técnica judicial em Engenharia Mecânica</h1>

        <div class="lcg-actuation-list">
          <ul>
            <li>Avaliações em equipamentos mecânicos</li>
            <li>Perícias envolvendo equipamentos mecânicos</li>
            <li>Análise de veículos</li>
            <li>Assistência técnica pericial</li>
          </ul>
        </div>

        </div>
      </div>
    </div>
</section>

<section>
  <div class="lcg-about-us">
    <h1>Quem Somos?</h1>
    <div class="about-us-container about-us-reverse">
      <div class="about-us-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="about-us-card">
        <div class="about-us-photo"></div>
      </div>
    </div>

    <div class="about-us-container">
      <div class="about-us-card">
        <div class="about-us-photo"></div>
      </div>
      <div class="about-us-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>

    <div class="about-us-container">
      <div class="about-us-card">
        <div class="about-us-photo"><img src="/assets/images/rpm-photo.jpg" alt="Rafael Pontes Marques Foto"></div>
      </div>
      <div class="lcg-container">
        <div class="about-us-description">
          <h3>Rafael Pontes Marques</h3>
          <p>
            Engenheiro Mecânico e Automobilístico formado pela FEI. Iniciação científica na área de Engenharia de Materiais.
            Já possuiu empresa de mecânica voltada para manutenção e performance automobilística. Experiência em dinamômetros de chassis e de bancada.
            Trabalhou na Porsche GT3 Cup Challenge Brazil na área de telemetria.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="lcg-parallax lcg-about-us-image">
    <div class="lcg-background-opacity"></div>
    <div class="lcg-atuation-area">
      <h1 class="lcg-actuation-title">Perícias em automóveis</h1>
      <h3 class="lcg-actuation-text">Atuamos realizando assistência pericial em processos judiciais.</h3>
    </div>
  </div>
</section>

<section>
  <div class="lcg-contact-us" id='teste'>
    <div class="lcg-contact-description">
      <p>Entre em contato conosco</p>
    </div>
    <div class="lcg-contact-form">
      <form class="lcg-contact-us-form">
        <div class="lcg-form-field">
          <label for="first_name">Nome:</label>
          <input type="text" id="first_name" name="firstname">
        </div>
        <div class="lcg-form-field">
          <label for="phone_number">Telefone:</label>
          <input type="text" id="phone_number" name="phonenumber">
        </div>
        <div class="lcg-form-field">
          <label for="form_description">Descrição (opcional):</label>
          <textarea class="lcg-form-description" type="text" id="form_description" name="formdescription" />
        </div>

        <div class="lcg-form-field lcg-submit-btn">
          <input type="submit" value="Enviar">
        </div>
      </form>
    </div>
  </div>
</section>

<section>
  <div class="lcg-parallax lcg-about-the-job-image">
    <div class="lcg-background-opacity"></div>
    <div class="lcg-atuation-area">
      <h1 class="lcg-actuation-title">Perícias em automóveis</h1>
      <h3 class="lcg-actuation-text">Atuamos realizando assistência pericial em processos judiciais.</h3>
    </div>
  </div>
</section>

<script type="text/javascript">
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("lcg-navbar-scroll").style.transform = "translateY(0)";
    } else {
      document.getElementById("lcg-navbar-scroll").style.transform = "translateY(-50px)";
    }
    prevScrollpos = currentScrollPos;
  }
</script>
