@import './reset.scss';
@import './default_styles.scss';
@import './institutional/navbar.scss';
@import './institutional/about_us.scss';
@import './institutional/contact_us.scss';
@import './institutional/menu.scss';
@import './institutional/actuation_area.scss';
@import './portal/portal_container.scss';
@import './portal/portal_navbar.scss';
@import './portal/portal_content.scss';

html {
  overflow-x: hidden;
}
body {
  font-family: helvetica;
  overflow-x: hidden;
}

.lcg-actuation-image {
  background-image: url('/assets/images/black-and-white-car-classic-474-2.jpg');
}

.lcg-about-us-image {
  background-image: url('/assets/images/tractor-385681_1920.jpg');
}

.lcg-about-the-job-image {
  background-image: url('/assets/images/german-65.jpg');
}

.lcg-parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lcg-actuation-area {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color-text;
  z-index: 20;
  height: 90%;
  flex-direction: column;
  text-align: center;
}

.lcg-about-us {
  background-color: $background-color;
  font-size: 36px;
}

.institutional-container {
  background-color: $background-color;
}
