@import '../default_styles.scss';

.lcg-topics-area {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color-text;
  z-index: 20;
  height: 100%;
  flex-direction: column;
  text-align: center;

  h1 {
    margin: 3rem;
  }
}

.lcg-topics-content {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.lcg-topics-title {
	margin: 5rem 1rem 1rem;
}

.lcg-topics-list {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;

	ul {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex
	}

	ul li {
	}
}

.lcg-topics-list-item {
	margin: 1.5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lcg-list-cog {
	padding: 0.5rem;
}
